#questionnaire {
  font-family: Ariel, sans-serif;
  height: 70%;
  border: solid 2px black;
  padding: 20px;
}

#welcome {
  margin: 10px 0px;
}

#thankYou,
.question {
  margin: 10px 0px;
  display: none;
}

#thankYou.active,
.question.active {
  display: block;
}

/* .previous {
  float: left;
}

.next {
  float: right;
}

.submit {
  float: right;
} */

/* this is an answer with a text area...*/

.freeresponse {
  display: flex;
  width: 80%;
}

/* select labels inside freesponses */

.freeresponse label {
  flex-grow: 1;
  text-align: left;
  width: auto;
}

.freeresponse textarea,
input[type="text"] {
  flex-grow: 1;
}


/* CSS for grids... */
.quest-grid{
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(12,minmax(0px,auto));

  font-family:Arial, Helvetica, sans-serif;
  font-size: medium;
  overflow-x: auto;
  gap: 1px;
  overflow-y: visible;
}

.quest-grid * {
  padding: 4px;
  text-align: center;
}

.quest-grid > .nr {
  grid-column-start: 1;
  text-align: start;
  align-self: center;
}

ul.quest-grid{
  padding: 0px;
  list-style-type: none;
  min-width: min-content;
}



@media screen and (min-width: 576px) {
  ul.quest-grid input{
      display: inline;
      height: 1rem;
  }
  ul.quest-grid label{
      display: none;
  }
}


/** 
I chose 576px because this matches the default breakpoint
for bootstrap -xs
**/
@media screen and (max-width: 576px) {
  .quest-grid {
      display: block;
      width:100%;
  }
  ul.quest-grid{
      min-width: min-content;
      list-style-type: none;
      text-align: left;
  }
  ul.quest-grid > li {
      margin-top: 2px;
  }

  li {
    list-style-type: none;
  }

  ul.quest-grid .hr {
      display: none;
  }

  ul.quest-grid li.nr {
      display: block;
  }

  ul.quest-grid li.nr:not(:first-child){
      padding-top: 10px;
  }



    
}