input[type="checkbox"] + label {
  /* padding: 10px; */
  margin: 5px;
}

.question-text {
  font-size: 1rem;
  display: block;
  white-space: pre-line;
}

/* CSS for grids */
.quest-grid.table-layout {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin-top: 10px;
  overflow-x: auto;
  gap: 1px;
  overflow-y: visible;
  display: inline-table;
}

.quest-grid.table-layout * {
  padding: 4px;
  text-align: center;
}

.quest-grid.table-layout>.nr {
  grid-column-start: 1;
  text-align: start;
  align-self: center;
}

@media screen and (min-width: 576px) {

  .quest-grid.table-layout tr {
    width: auto;
    display: table-row;
    font-size: clamp(12px, 1.5vw, 16px);
  }

  .quest-grid.table-layout th.hr {
    padding: .2vw;
    text-align: center;
    vertical-align: top;
    background-color: transparent;
    border: none;
    font-weight: normal;
    font-size: clamp(11px, 1.8vw, 16px);
    word-wrap: break-word;
  }

  .quest-grid.table-layout th.nr {
    padding: clamp(5px, 1vw, 10px);
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    font-size: clamp(12px, 1.5vw, 16px);
  }

  .quest-grid.table-layout td {
    padding: .5vw;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: none;
  }

  .quest-grid.table-layout th.nr,
  .quest-grid.table-layout td.nr {
    text-align: left;
    font-size: clamp(12px, 1.5vw, 16px);
  }

  .quest-grid.table-layout input[type="checkbox"],
  .quest-grid.table-layout input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
  }

  .quest-grid.table-layout .custom-label {
    position: relative;
    height: clamp(19px, 2vw, 34px);
    min-width: clamp(19px, 2vw, 34px);
    color: transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    overflow: hidden;
    padding: 1em;
  }

  .quest-grid.table-layout .custom-label::before {
    content: '';
    display: block;
    width: clamp(19px, 2vw, 34px);
    height: clamp(19px, 2vw, 34px);
    border: 0.15vw solid #b3b3b3;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }

  .quest-grid.table-layout input[type="checkbox"]:checked+.custom-label::after,
  .quest-grid.table-layout input[type="radio"]:checked+.custom-label::after {
    content: '';
    display: block;
    width: clamp(14px, 1.4vw, 23px);
    height: clamp(14px, 1.4vw, 23px);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #327ABB;
  }

  .quest-grid.table-layout .custom-label:hover {
    background-color: transparent;
    border: none;
    outline: none;
  }

  .quest-grid .custom-label:hover::before {
    border-color: #1c5d86;
    box-shadow: 0 0 .75vw #b3b3b3;
  }

  .quest-grid.table-layout input[type="checkbox"]:checked+.custom-label,
  .quest-grid.table-layout input[type="radio"]:checked+.custom-label {
    border: none;
    background-color: transparent;
    color: transparent;
  }


  /* Emphasize the first table column. Then let the browser calculate the width for the remaining columns */
  .quest-grid.table-layout th:first-child,
  .quest-grid td:first-child {
    width: 25%;
    font-weight: normal;
    font-size: clamp(12px, 1.5vw, 16px);
  }
}

/* 576px matches the default breakpoint for bootstrap xs */
@media screen and (max-width: 576px) {
  .quest-grid.table-layout {
    display: block;
  }

  .quest-grid.table-layout tbody,
  .quest-grid.table-layout tr {
    display: block;
    margin-bottom: 15px;
  }

  .quest-grid.table-layout thead {
    display: none;
  }

  .quest-grid.table-layout td {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 3px;
    text-align: center;
    min-height: 75px;
    height: auto;
    padding: 5px;
    cursor: pointer;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    border-radius: 4px;
    position: relative;

    .custom-label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* Show the label text when the input is checked */
    input:checked+.custom-label {
      color: white;
      background-color: #327ABB;
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
  }
}