#navBar {
  background-color: rgb(53 58 64);
  color: rgb(197 199 202);
  border-bottom: 5px solid rgb(154 160 173);
  border-top: 5px solid rgb(154 160 173);
  background: linear-gradient(to right, #24305e, lightblue);
  font-family: "Archivo";
  width: 100%;
  /* font-weight: bold; */
}

#navLinks {
  padding-left: 50px;
  /* background-color: rgb(53 58 64); */
}

#navLinks a {
  color: rgb(154 160 173);
  font-size: 20px;
}

body {
  background-color: rgb(245 245 246);
}

#legendDiv {
  background-color: rgb(245 245 246);
}

#ta {
  background-color: #f7f9fb;
  font-family: monospace;
  color: navy;
  height: 600px;
  width: 100%;
}

#rendering {
  width: 100%;
  background-color: re;
}

label {
  display: inline;
}

.popover-dismiss {
  background: linear-gradient(
    rgb(232, 232, 232),
    rgb(245, 245, 245)
  ) !important;
  border: 1px solid rgb(175, 175, 175) !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

@media only screen and (max-width: 768px) {
  [id="ta"] {
    width: 350px !important;
  }
  [id="markup"] {
    position: sticky;
  }

  [id="navLinks"] {
    background-color: #24305e;
  }

  [id="prevResDiv"] {
    border: 1px solid black !important;
  }

  [id="stylingDiv"] {
    border: 1px solid black !important;
  }

  [id="fontSpan"] {
    float: left !important;
    margin-top: 5px;
  }

  [id="renderText"] {
    margin-top: 15px;
  }

  .spacePadding {
    height: 50px;
  }
}
