@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

#navBar {
  background-color: rgb(53 58 64);
  color: rgb(197 199 202);
  border-bottom: 5px solid rgb(154 160 173);
  border-top: 5px solid rgb(154 160 173);
  background: linear-gradient(to right, #24305e, lightblue);
  font-family: "Archivo";
  width: 100%;
  /* font-weight: bold; */
}

.quest-bg-gradient{
  background-color: transparent;
  background-image: linear-gradient(to right, #24305e, lightblue);
  border-top: 5px solid rgb(154 160 173);
  border-bottom: 5px solid rgb(154 160 173);
}

#navLinks {
  padding-left: 50px;
  /* background-color: rgb(53 58 64); */
}

#navLinks a {
  color: rgb(154 160 173);
  font-size: 20px;
}

body {
  background-color: rgb(245 245 246);
}

#legendDiv {
  background-color: rgb(245 245 246);
}

#loadDisplay {
  height: 3em;
  font-size: smaller;
}

input[type="checkbox"].form-check-input{
  display: inline;
}


#markupTextArea {
  background-color: #f7f9fb;
  font-family: monospace;
  color: navy;
  height: 600px;
  width: 100%;
}

#rendering {
  width: 100%;
  background-color: re;
}

.question > label {
  display: inline;
  width: 95% !important;
  font-size: 1em;
}

.popover-dismiss {
  background: linear-gradient(
    rgb(240, 173, 78),
    rgb(240, 173, 78)
  ) !important;
  border: 1px solid rgb(175, 175, 175) !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}


.text-baskerville {
  font-family: 'Libre Baskerville', serif;
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  input[type="number"] {
    width: 150px;
  }

  [id="markup"] {
    position: sticky;
  }

  [id="navLinks"] {
    background-color: #24305e;
  }

  [id="fontSpan"] {
    float: left !important;
    margin-top: 5px;
  }

  [id="renderText"] {
    margin-top: 15px;
  }

  .spacePadding {
    height: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  [id="markup"] {
    position: sticky;
  }

  [id="navLinks"] {
    background-color: #24305e;
  }

  [id="prevResDiv"] {
    border: 1px solid black !important;
  }

  [id="stylingDiv"] {
    border: 1px solid black !important;
  }

  [id="fontSpan"] {
    float: left !important;
    margin-top: 5px;
  }

  [id="renderText"] {
    margin-top: 15px;
  }

  .spacePadding {
    height: 50px;
  }
}
